h3 {
    color: darkgoldenrod;
}
#woodbtn {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}
h4 {
    color: orangered;
}
#firebtn {
    background-color: orangered;
    border-color: orangered;
}