#woodtext {
    color: darkgoldenrod;
}
#woodbtn {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
}
#firetext {
    color: orangered;
}
#firebtn {
    background-color: orangered;
    border-color: orangered;
}
button {
    text-align: center;
}